# LLM PROVIIDER (CURRENTLY USING GROQ)
GROQ_API_KEY=

# POSTGRESQL DATABASE
DATABASE_URL=

# LANGSMITH (DEBUGGER AND TRACING)
LANGSMITH_API_KEY=
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT="volumetrix"
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# TAVILY
TAVILY_API_KEY=
